/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 ul{
 	padding-left: 0px;
 	list-style: none;
 }

 .messages-list {
 	max-height: 350px;
 	overflow-y: auto;
 	overflow-x: hidden;
 }

 .message-sent {
 	position: relative;
 	background-color: #D9EDF7;
 	border-color: #BCE8F1;
 	border-radius: 55px 55px 0px 55px;
 	margin: 5px 20px;
 	padding: 10px;
 	float: right;
 }

 .message-received {
 	background-color: #F1F0F0;
 	border-color: #EEEEEE;
 	border-radius: 55px 55px 55px 0px;
 	margin: 5px 20px;
 	padding: 10px;
 	float: left;
 }

 .field{
 	font-size:22px;
	padding:10px;
	margin-left:435px;
 }

 .login:hover{
 color:orange;
 }

 .panel-default > .panel-heading-custom 
 {
 color: white;
 background: #212121;
 font-size:22px;
 }
 .panel-default > .panel-body
 {
 color: #212121;
 }

.myrow{
	padding-left:20%;
	padding-right:20%;
}
.acenter{
	padding-left:28px;
}